:root {
    --pattern-a-color: #50514F;
    --pattern-b-color: white;
    --width: 90%
}

body {
    margin: 0px;
    padding-right: calc((100% - var(--width)) / 2);
    padding-left: calc((100% - var(--width)) / 2);
    background: var(--pattern-a-color);
    text-align: center;
}

body > header {
    display: flex;
    height: 4vw;
    width: var(--width);
    position: fixed;
    background-color: var(--pattern-b-color);
    margin-top: 0px;
    z-index: 100;
}

header > a {

    /* headerの高さとあわせる */
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    height: 3vw;
    line-height: 3vw;

    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: 15vw;
    font-size: 2.5vw;
    color: var(--pattern-a-color);
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--pattern-a-color);
    cursor: pointer;
    transition-delay: 0.3s;
    transition: background-color 0.3s;
    text-decoration: none; /* 下線を消す */
}

header > a:hover {
    background-color: var(--pattern-a-color);
    color: var(--pattern-b-color);
}

/* body 共通部分 */
body > main {
    padding-top: 4vw;
}

body > main > div {
    margin: 0 0;
    padding: 0;
}

body > main > div > h1 {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    font-size: 3vw;
    text-align: center;
}

/* body 固有部分 */
/* body-top */
body > main > div.body-top {
    padding-bottom: 10px;
    text-align: center;
    width: auto;
}

body > main > div.body-top > p {
    padding: 0;
    margin: 0;
    background-color: black;
}

body > main > div.body-top > p > img {
    width: 100%;
    opacity: 0.6;
}

body > main > div.body-top > h1 {
    position: absolute;
    text-align: center;
    width: var(--width);
    line-height: 6vw;
    font-size: 5vw;
    opacity: 0.5;
    top: 25vw;
    color: black;
    background-color: white;
    z-index: 1; 	
    font-family: 'Nixie One', cursive;
}

body > main > div.pattern-a {
    background-color: var(--pattern-a-color);
    color: var(--pattern-b-color);
    margin: 0;
}

body > main > div.pattern-b {
    background-color: var(--pattern-b-color);
    color: var(--pattern-a-color);
}

div.contact {
    text-align: center;
}

div.contact > a {
    margin: 0 1vw;
}

div.contact > a:hover {
    opacity: 0.6;
}